.peopleTitle {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    border-top: 0px solid #fff;
}

.peopleItem {
    /*border:2px solid #f00;*/
    transition: all 0.7s ease-out;
    /*width: 300px;*/
    height: 30px;
    /*margin: -2px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    border-top: 0px solid #fff;
}

.peopleItem:hover,
.peopleItem:nth-child(even):hover {
    transition: all 0.7s ease-out;
    background: #ffdfa6;
    /*height:50px;*/
    /*border-top:4px solid #faa;*/
    height: 40px;
    /*color: #fff;*/
}

.peopleItem:nth-child(even) {
    background: #eee;
}

.peopleTitle label,
.peopleItem label {
    padding: 0 10px;
    /*width: 60px;*/
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peopleItem label:not(:last-child) {
    border-right: 1px solid #ddd;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action > * {
    border-radius: 20px;
    padding: 0 10px;
    /*border:1px solid #4488ff;*/
    color: #00bf20;
    background: #dcffce;
    margin: 0 4px;
}

.action > *:hover {
    cursor: pointer;
    color: #e8e8e8;
    background: #9f77ff;
}

.peopleItem:hover .action > * {

}

/*.peopleItem label:nth-child(1) {*/
/*background: #abc;*/
/*}*/
/*.peopleItem label:nth-child(2) {*/
/*background: #acb;*/
/*}*/
/*.peopleItem label:nth-child(3) {*/
/*background: #bac;*/
/*}*/
/*.peopleItem label:nth-child(4) {*/
/*background: #bca;*/
/*}*/
