.aboutContainer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.aboutContainer > div:nth-of-type(2) {
    background: #def;
    flex-grow: 1;
    padding: 10px;
}

.aboutContent {
    overflow: auto;
}

@media all and (max-width: 320px) {

    .aboutContainer {
        margin: 0px;
        padding: 0px;
        border: none;
        border-bottom: 1px solid #ccc;
    }
}
