
.addPeople {
    /*outline:none;*/
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #ddd;
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
    flex-grow: 1;
    overflow: auto;
}
.formItem {
    width:200px;
    height:30px;
    display: flex;
    align-items:center;
    margin:4px;
}
.formItem label {
    margin-right:10px;
}
.formItem input {
    flex-grow:1;
    height:30px;
}

.submitBtn {
    width:100px;
}