.my-label {
    color: #f0f;
    font-size: 20px;
    background: #aaa;
    padding: 10px 20px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}